@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-align: right; 
    letter-spacing: 1px;			
    direction: rtl;

    -moz-user-select: none; 
    user-select: none;
}

body{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190623/ourmid/pngtree-blue-geometric-business-minimalistic-business-card-background-image_237858.jpg);
    background-size: cover;
    box-sizing: border-box;
    /*background-color: #4CAF50;*/
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: #777;
}
/*.App > * {
    background-color: #282c34;
}*/

/*-----------------------------------------------------------------*/
/*.container-fluid .navbar-right { direction: ltr; }*/
.jumbotron {  margin: 4.6% 0 0 0; }

.panel { 
    /*box-shadow: 5px 10px 15px #666666;*/
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);			*/
    /*box-shadow: 4px 4px 8px gray;*/
    border: 1px solid silver;
    background-color: #F9F9F9;
    margin-top: 2%;
    padding-top: 0%;
    border-radius: 0;
    width: 100%;

    -webkit-box-shadow: 0px 10px 5px #27272780;
    -moz-box-shadow: 0px 10px 5px #27272780;

}

.panel:hover {
    box-shadow: 6px 6px 10px black;           
    border: 1px solid silver;
}

.panel:focus {
    border: 1px solid #ff0000;
    background-color: #F9F9F9;
}


.title {
    text-shadow: 1px 1px .5px black;
    font-size: 28.9px;
    font-weight: bold;
    margin: auto;
    padding: 0;
}

.pageTitle {
    text-shadow: 1px 1px .5px black;
    font-weight: bold;
    padding: 0;
}

.ItemRow > .pageTitle { margin: 1% 1% auto auto; }

img {
    margin: 0 auto 0 auto;
}

div.jumbotron > p {
    width: 60%;
    margin-top: 2%;
    margin-right: 1%;
}


.text {
    height: 105px;
}

a {
    font-size: large;
}

a > span {
    padding-left: 1%;
}


i.fa {
    border-left: 1px solid silver;
    margin-right: 0;
    margin-left: 2%;
    padding-left: 1%;
    font-size: 1.2em;
}


hr {
    padding: 0;
    margin: 1%;
    border-top: 0.5px solid silver;
}

.fa-clock-o {
    float: right;
}

.time > span {
    margin-left: 0;
}

.time:hover {
    text-decoration: none;
}

.row > .buttonDiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ItemRow > div {
    float: right;
}

#searchUI {
    margin-right: 1%;
}


@media screen and (max-width: 700px) {
    
    .jumbotron { margin: 21% 0 0 0 }

    .ItemRow > div {
        float: none;
    }

    div.jumbotron > p {
        width: 100%;
    }
        
    .ItemRow > .pageTitle { 
        margin: 1% 2% auto auto; 
        font-size: 175%; 
    }
    
    .searchText { font-size: 150%; }
    .text { height: 120px; }    
    .title { font-size: 30px; margin-bottom: 2%;}

    .navbar-form { width: 80%; }
}

/*/////////////////////////////////////////////////////////////////////////////*/
.btn:focus, select:focus { outline: none; }